<nz-table #nzTable
          [nzAjaxData]="_dataSet"
          [nzShowSizeChanger]="true"
          [nzLoading]="_loading"
          [nzTotal]="_total"
          [(nzPageIndex)]="_current"
          (nzPageIndexChange)="refreshData()"
          [(nzPageSize)]="_pageSize"
          (nzPageSizeChange)="refreshData(true)">
  <thead nz-thead>
  <tr>
    <th nz-th><span>申请时间</span></th>
    <th nz-th><span>类别</span></th>
    <th nz-th><span>申请人</span></th>
    <th nz-th><span>部门</span></th>
    <th nz-th><span>开始时间</span></th>
    <th nz-th><span>结束时间</span></th>
    <th nz-th><span>审核人</span></th>
    <th nz-th><span>原因</span></th>
    <th nz-th><span>当前状态</span></th>
    <th nz-th><span>操作</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr *ngFor="let data of nzTable.data">
    <td nz-td>{{data.applyTime * 1000 | date:'yyyy/MM/dd HH:mm:ss'}}</td>
    <td nz-td>加班</td>
    <td nz-td>{{data.applyUserName}}</td>
    <td nz-td>{{data.department}}</td>
    <td nz-td>{{data.startTime * 1000 | date:'yyyy/MM/dd'}}</td>
    <td nz-td>{{data.endTime * 1000 | date:'yyyy/MM/dd'}}</td>
    <td nz-td>{{data.reviewer}}</td>
    <td nz-td>{{data.reason}}</td>
    <td nz-td><nz-tag [nzColor]="'purple'">{{statusList[data.status-1]}}</nz-tag></td>
    <td>
      <button nz-button [nzType]="'primary'"  [nzShape]="'circle'" (click)="showModal(data)">
        <i class="anticon anticon-edit"></i>
      </button>
      <button nz-button [nzType]="'default'" [nzShape]="'circle'" (click)="showConfirm(data)">
        <i class="anticon anticon-delete"></i>
      </button>
    </td>
  </tr>
  </tbody>
</nz-table>
<nz-modal [nzVisible]="isVisible" [nzTitle]="'修改加班申请'" [nzContent]="modalConten"  [nzFooter]="modalFooter" (nzOnCancel)="handleCancel($event)">
  <ng-template #modalConten>
    <!--<p>{{json.stringify(modal_data)}}</p>-->
    <app-ask-overtime-update-form [currentData]="modal_data"></app-ask-overtime-update-form>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">
      返 回
    </button>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="handleOk($event)" [nzLoading]="isConfirmLoading">
      提 交
    </button>
  </ng-template>
</nz-modal>
