<!--<th nz-th><span>申请时间</span></th>-->
<!--<th nz-th><span>假期类型</span></th>-->
<!--<th nz-th><span>申请人</span></th>-->
<!--<th nz-th><span>部门</span></th>-->
<!--<th nz-th><span>开始时间</span></th>-->
<!--<th nz-th><span>结束时间</span></th>-->
<!--<th nz-th><span>审核人</span></th>-->
<!--<th nz-th><span>原因</span></th>-->
<!--<th nz-th><span>当前状态</span></th>-->
<!--<th nz-th><span>操作</span></th>-->
<nz-table #nzTable
          [nzAjaxData]="_dataSet"
          [nzShowSizeChanger]="true"
          [nzLoading]="_loading"
          [nzTotal]="_total"
          [(nzPageIndex)]="_current"
          (nzPageIndexChange)="refreshData()"
          [(nzPageSize)]="_pageSize"
          (nzPageSizeChange)="refreshData(true)">
  <thead nz-thead>
  <tr>
    <th nz-th><span>申请时间</span></th>
    <th nz-th><span>假期类型</span></th>
    <th nz-th><span>申请人</span></th>
    <th nz-th><span>部门</span></th>
    <th nz-th><span>开始时间</span></th>
    <th nz-th><span>结束时间</span></th>
    <th nz-th><span>审核人</span></th>
    <th nz-th><span>原因</span></th>
    <th nz-th><span>当前状态</span></th>
    <th nz-th><span>操作</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr *ngFor="let data of nzTable.data">
    <td nz-td>{{data.applyTime * 1000 | date:'yyyy/MM/dd HH:mm:ss'}}</td>
    <td nz-td>{{leaveList[data.type-1].name}}</td>
    <td nz-td>{{data.applyUserName}}</td>
    <td nz-td>{{data.department}}</td>
    <td nz-td>{{data.startTime * 1000 | date:'yyyy/MM/dd'}}</td>
    <td nz-td>{{data.endTime * 1000 | date:'yyyy/MM/dd'}}</td>
    <td nz-td>{{data.reviewer}}</td>
    <td nz-td>{{data.reason}}</td>
    <td nz-td><nz-tag [nzColor]="'purple'">{{statusList[data.status-1]}}</nz-tag></td>
    <td>
      <button nz-button [nzType]="'primary'"  [nzShape]="'circle'" (click)="showModal(data)">
        <i class="anticon anticon-edit"></i>
      </button>
      <button nz-button [nzType]="'default'" [nzShape]="'circle'" (click)="showConfirm(data)">
        <i class="anticon anticon-delete"></i>
      </button>
    </td>
  </tr>
  </tbody>
</nz-table>
<nz-modal [nzVisible]="isVisible" [nzTitle]="'对话框标题'" [nzContent]="modalConten" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)" [nzConfirmLoading]="isConfirmLoading">
  <ng-template #modalConten>
    <p>{{json.stringify(modal_data)}}</p>
  </ng-template>
</nz-modal>
